/*
 *-----------------------------------------------------
 *      nf-core/MeRIP-seqflow Nextflow config file
 *-----------------------------------------------------
 *     Default config options for all environments
 */


//Global Default params,used in configs
params {

/*----------BELOW IS FOR PREPROCESS PARAMETER-----------*/

//Basic Settings:
        Help                    = false
        Input_Fastq             = "$baseDir/samplesheet.csv"      // path to Input_fastq.csv that contain fastq file location: Sample_ID, Input_R1, Input_R2, IP_R1, IP_R2, Group_ID
        Outdir                  = "$baseDir/result"
        CompareFiles            = "$baseDir/CompareFiles.csv"


// Boilerplate Options
        Single_end              = false          // ( Default : false )
        Alignment               = "hisat2"       // "hisat2" OR "bowtie2" OR "BWA" OR "none" (Default : 'hisat2')
        Diff_Expression         = "edgeR"        // "DESeq2" OR "edgeR"  OR "none" （Default : "DESeq2")

 
// Reference Genomes
        Fasta                   = false
        GTF                     = "/mnt/public/annotation/mouse/gencode.vM30.annotation.gtf"
        Hisat2_index            = "/mnt/public/reference/mouse/mm10/hisat2/genome"
        Bowtie2_index           = "/mnt/public/reference/mouse/mm10/bowtie2/mm10"
        BWA_index               = "/mnt/public/reference/mouse/mm10/bwa/mm10"


//Skipping modes Options

// QC Steps
        skip_Fastq_Splitting            = false

        skip_QC                         = false
        skip_Fastp                      = false
        skip_Trim_Galore                = false
        skip_FastQC                     = false
        skip_MultiQC                    = false

        skip_Alignment                  = false
        skip_Coverage                   = false
        skip_Saturation                 = false

        skip_Transcriptome_Analysis     = false
        skip_Diffexpression_Analysis    = false
        skip_DESeq2                     = false
        skip_edgeR                      = false

        skip_Methylation_Analysis       = false

        skip_Combined_Analysis          = false


}
